/* Font Family: Verdana */
@import url('https://fonts.googleapis.com/css2?family=Verdana&display=swap');

/* Font Family: Catamaran */
@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');

/* Font Family: Tahoma */
@import url('https://fonts.googleapis.com/css2?family=Tahoma&display=swap');

/* Font Family: arial */
@import url('https://fonts.googleapis.com/css2?family=arial&display=swap');

/* Font Family: Arial !important */
@import url('https://fonts.googleapis.com/css2?family=Arial+!important&display=swap');

/* Font Family: inherit */
@import url('https://fonts.googleapis.com/css2?family=inherit&display=swap');

/* Font Family: Helvetica */
@import url('https://fonts.googleapis.com/css2?family=Helvetica&display=swap');

/* Font Family: Arial */
@import url('https://fonts.googleapis.com/css2?family=Arial&display=swap');
