<div class="diywebFooter diyfeCA diyfeCA4">
<div class="diywebGutter">
<div id="contentfooter">
<div class="leftrow">
<a href="javascript:window.print();" rel="nofollow">
<img alt="" class="inline" height="14" src="//cdn.website-start.de/s/img/cc/printer.gif" width="18"/>
                    Druckversion                </a> <span class="footer-separator">|</span>
<a href="https://www.centralfightclub.de/sitemap/">Sitemap</a>
<br/> © Central Fight Club | <a href="http://www.centralfightclub.de/datenschutz">Datenschutz</a>
</div>
<script type="text/javascript">
        window.diy.ux.Captcha.locales = {
            generateNewCode: 'Neuen Code generieren',
            enterCode: 'Bitte geben Sie den Code ein'
        };
        window.diy.ux.Cap2.locales = {
            generateNewCode: 'Neuen Code generieren',
            enterCode: 'Bitte geben Sie den Code ein'
        };
    </script>
<div class="rightrow">
<span class="loggedout">
<a href="https://login.1and1-editor.com/413745149/www.centralfightclub.de/de?pageId=301132" id="login" rel="nofollow">
                    Login                </a>
</span>
<p><a class="diyw switchViewWeb" href="javascript:switchView('desktop');">Webansicht</a><a class="diyw switchViewMobile" href="javascript:switchView('mobile');">Mobile-Ansicht</a></p>
<span class="loggedin">
<a href="https://120.sb.mywebsite-editor.com/app/cms/logout.php" id="logout" rel="nofollow">Logout</a> <span class="footer-separator">|</span>
<a href="https://120.sb.mywebsite-editor.com/app/413745149/301132/" id="edit" rel="nofollow">Seite bearbeiten</a>
</span>
</div>
</div>
<div class="hidden" id="loginbox">
<script type="text/javascript">
                    /* <![CDATA[ */
                    function forgotpw_popup() {
                        var url = 'https://passwort.1und1.de/xml/request/RequestStart';
                        fenster = window.open(url, "fenster1", "width=600,height=400,status=yes,scrollbars=yes,resizable=yes");
                        // IE8 doesn't return the window reference instantly or at all.
                        // It may appear the call failed and fenster is null
                        if (fenster && fenster.focus) {
                            fenster.focus();
                        }
                    }
                    /* ]]> */
                </script>
<img alt="IONOS" class="logo" src="//cdn.website-start.de/s/img/logo.gif" title="IONOS"/>
<div id="loginboxOuter"></div>
</div>
</div>
</div>